# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.vercel
.wrangler

# system files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.env
.env.*
